{
  "presets": ["es2015", "react"],
  "plugins": [
            "babel-plugin-transform-es2015-destructuring",
            "babel-plugin-transform-es2015-modules-commonjs",
            "transform-es3-member-expression-literals",
            "transform-es3-property-literals"
          ]
}