.mobile-header .middle-nav{
  display: none;
}

.mobile-header .bottom-nav {
  display: none;
}

.mobile-header .appHeader {
  border: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mobile-header .basket-container {
  display: none;
}

.mobile-header .top-nav {
  padding: 0;
  height: 35px;
}

.mobile-header .top-nav ul {
  margin: 0;
  margin-top: 8px;
}

.mobile-header .top-nav ul li {
  display: none;
}

.mobile-header .top-nav ul li:last-child {
  display: block;
  padding: 0 10px;
}

.mobile-header .top-nav ul li .shopping-cart-text {
  display: none;
}

.mobile-footer {
  display: none;
}

.mobile-products-container {
  min-width: 320px;
}

.mobile-products-container, .mobile-convenience-life-container {
  margin-top: 35px;
  width: 100%;
  padding: 0;
}

.mobile-convenience-life-container .information-board {
  display: none;
}

.mobile-products-container .product-sub-page {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.mobile-customers-container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.mobile-customers-container .appItems li {
  width: 100%;
}

.mobile-products-container .product-list-container {
  margin: 0;
}

.mobile-products-container .product-list-container h1 {
  text-align: center;
}

.mobile-products-container .appItems {
  width: 100%;
}

.mobile-products-container .appItems .appItem {
  height: auto;
  border-right: none;
}

.mobile-products-container .appItems .appItem img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mobile-products-container  .cart-selected-num {
  display: none;
}

.mobile-products-container .appItems li {
  width: 48%;
  border-bottom: 1px solid #eee;
}

.mobile-products-container .product-detail {
  margin: 0;
  border: none;
  width: 100%;
}

.mobile-products-container .product-info {
  width: 100%;
}

.mobile-products-container .more-info {
  width: 100%;
  margin: 0;
}

.mobile-products-container .more-info .right-column {
  width: 100%;
  margin: 0;
  display: block;
}

.mobile-products-container .more-info .right-column li {
  width: 100%;
}

.mobile-products-container .more-info .right-column li:last-child {
  display: none;
}

.mobile-products-container .shop-actions {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
}

.mobile-products-container .shop-actions .buy-now {
  margin: 0;
  width: 50%;
  background-image: none;
  background-color: rgb(75, 48, 0);
  color: #f5f5f5;
  text-align: center;
  line-height: 35px;
}

.mobile-products-container .shop-actions button {
  width: 50%;
  background-image: none;
  background-color: rgb(255, 166, 0);
  color: #f5f5f5;
  text-align: center;
  font-size: 16px;
}

.mobile-products-container .slick-slider {
  margin: 0;
  width: 100%;
  height: auto;
}

.mobile-products-container .slick-slider .slick-slide {
  height: auto;
}

.mobile-products-container .slick-track {
  min-height: 200px;
}

.mobile-products-container .slick-track li img{
  width: 100%;
  height: auto;
}

.mobile-products-container .slick-dots {
  bottom: 0;
}

.mobile-products-container .product-info {
  padding: 0;
  height: auto;
}

.mobile-products-container .product-info .product-name {
  padding: 0 10px;
}

.mobile-products-container .product-info h2 {
  font-size: 12px;
  padding: 0 10px;
}

.mobile-products-container .product-description {
  margin: 0;
}

.mobile-products-container .exist-price {
  background: none;
  padding: 0 10px;
  padding-bottom: 10px;
  height: auto;
  z-index: 0;
}

.mobile-products-container .exist-price {
  color: #F60;
  font-size: 14px;
}

.mobile-products-container .exist-price .mainprice {
  font-size: 14px;
}

.mobile-products-container .exist-price .star {
  display: none;
}

.mobile-products-container .exist-price .score {
  display: none;
}

.mobile-products-container .buy-count {
  display: none;
}

.mobile-products-container .small-lable {
  display: none;
}

.mobile-products-container .buy-service {
  margin-top: 10px;
}

.mobile-products-container .buy-service .buy-service-content{
  color: #999;
  font-size: 10px;
  margin: 0;
  padding: 0 10px;
}

.mobile-products-container .proinfo-line {
  height: 1px;
  margin: 0;
  display: none;
}

.mobile-products-container .left-column {
  width: 100%;
  display: block;
  height: auto;
}

.mobile-products-container .left-column .satisfactions {
  margin: 0;
  padding: 10px;
}

.mobile-products-container .left-column .title {
  display: none;
}

.mobile-products-container .left-column .customer-info {
  padding: 5px;
}

.mobile-products-container .left-column .customer-info table {
  font-size: 10px;
}

.mobile-products-container .left-column .bottom-part {
  display: none;
}

.mobile-products-container .qing-table {
  width: 100%;
}

.mobile-products-container .qing-table .qing-col-th {
  display: none;
}

.mobile-products-container .shop-product-qty {
  min-width: 82px;
}

.mobile-products-container .shop-product-qty .qty-field {
  width: 28px;
}

.mobile-products-container .shop-product-qty .qty-btn {
  width: 30px;
}

.mobile-products-container .qing-table .select-all {
  background: none;
  position: fixed;
  bottom: 10px;
  z-index: 1;
  padding: 0;
}

.mobile-products-container #cart-summary .pull-right {
  height: 43px;
}

.mobile-products-container #cart-summary .btn {
  display: inline-block;
}

.mobile-products-container .qing-table .qing-col-th:first-child {
  display: block;
}

.mobile-products-container .qing-table .qing-col-td {
  display: block;
}

.mobile-products-container .qing-table .qing-col-td {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  min-width: 60px;
}

.mobile-products-container .qing-table .qing-col-td .cart-item-title {
  margin: 5px 0;
  width: 60px;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.mobile-products-container .qing-table .cart-checkbox {
  width: 40px;
}

.mobile-products-container .cart-summary {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.mobile-products-container .layui-layer {
  width: 100%;
}

.mobile-products-container .cart-to-order-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.mobile-products-container .cart-to-order-container .cart-mod-title {
  margin: 0;
}

.mobile-products-container .cart-to-order-container .qing-table {
  margin-bottom: 100px;
}

.mobile-products-container .cart-beforepay-summary {
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 95%;
  background-color: #ffffff;
  font-size: 12px;
}

.mobile-products-container .cart-beforepay-summary .col-md-12 {
  margin: 0;
  padding: 5px;
}

.mobile-products-container .cart-beforepay-summary .cart-should-pay {
  margin: 0;
}

.mobile-products-container .article-list {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.mobile-products-container .wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mobile-products-container .information-title {
  width: 100%;
}

.mobile-products-container .left-part {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.mobile-products-container .left-part a {
  width: 33%;
}

.mobile-products-container .left-part .block-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.mobile-products-container .left-part .block-wrapper .block {
  padding: 0;
}

.mobile-products-container .left-part .block-wrapper .block .title-cn {
  text-align: center;
}

.mobile-products-container .left-part .block-wrapper .title-en {
  display: none;
}

.mobile-products-container .left-part .block-wrapper img {
  display: none;
}

.mobile-products-container .customer-header {
  width: 100%;
  font-size: 20px;
}

.mobile-products-container  .product-section {
  width: 100%;
}

.mobile-products-container .qing-table .cart-item-img {
  width: 60px;
  height: 60px;
}

.mobile-products-container .delete-item {
  float: right;
}

.mobile-products-container .qing-no-padding {
  width: 98%;
}

.mobile-products-container .order-container .order-header {
  height: 95px;
}

.mobile-products-container .order-container .order-header .order-header-item {
  width: 50%;
}

.mobile-products-container .order-detail .order-line-item-container {
  width: 100%;
}

.mobile-products-container .order-container .order-line-item-container .line-item-item {
  margin-right: 20px;
}

.mobile-products-container .order-container .order-line-item-container .line-item-item-name {
  width: 40px;
  color: rgb(250, 155, 10);
}

.mobile-products-container .order-container .order-price-container {
  width: 100%;
  text-align: right;
}

.mobile-products-container .pay-order {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.mobile-products-container .disabled {
  color: rgba(250, 155, 10, 0.3);
}