ul, ol, li {
  list-style-type: none;
}

.products-container {
  width: 100%;
  color: rgb(72, 82, 85);
  box-sizing: border-box;
  background-color: #ffffff;
}

.products-container .slick-slider {
  margin-bottom: 0;
  height: 450px;
  width: 990px;
}

.product-detail {
  width: 1190px;
  margin: 40px auto 0;
  border: solid 1px #EEE;
}

.image-zoom {
  width: 400px;
  height: 482px;
  border-right: solid 1px #EEE;
  display: inline-block;
  vertical-align: middle;
}

.image-zoom-main-container {
  width: 360px;
  height: 360px;
  padding: 20px;
}

.imgzoom-thumb-main ul {
  margin: 0;
}

.image-zoom-main img {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.imgzoom-thumb {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: solid 1px #EEE;
  margin-right: 5px;
  cursor: pointer;
}

.imgzoom-thumb img {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

.top-nav {
  padding: 0 100px;
  background-color: rgb(241, 242, 244);
  font-size: 14px;
}

.top-nav span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.top-nav .back-home {
  border-right: solid 1px #425255;
  padding-right: 50px;
}

.top-nav ul {
  display: inline-block;
  vertical-align: middle;
}

.top-nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}

.top-nav .right {
  float: right;
}

.shopping-number {
  width: 15px;
  height: 15px;
  background-color: rgb(250, 155, 10);
  margin-left: 10px;
  border-radius: 7px;
  font-size: 12px;
  color: white;
}

.middle-nav {
  padding: 10px;
  background-color: white;
}

.middle-nav .logo-image {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10%;
  margin-right: 3%;
}

.middle-nav .logo-title {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.bottom-nav {
  background-color: white;
  color: rgb(72, 82, 85);
  padding: 20px 100px 5px;
}

.bottom-nav a {
  color: rgb(72, 82, 85);
  display: inline-block;
  width: 8%;
  vertical-align: top;
}

.product-category {
  display: inline-block;
  width: 200px;
  padding: 0 20px;
}

.product-category a {
  width: 90%;
  padding: 3px 10px;
}

.highlighted {
  background-color: rgb(25, 26, 26);
  color: rgb(242, 255, 255) !important;
}

.categories {
  color: white;
  background-color: rgb(211, 33, 31);
  position: absolute;
  width: 200px;
  height: 457px;
  z-index: 1000;
  display: block;
}

.category-item {
  border-bottom: solid 1px rgb(197, 19, 22);
  font-size: 14px;
  padding: 10px;
}

.category-item ul {
  list-style-type: none;
  font-size: .875em;
  line-height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
  margin: 0;
}

.category-item li {
  padding: 0 10px;
  float: left;
}

.right-arrow {
  width: 12px;
  float: right;
  margin-top: 5px;
}

.page {
  min-height: 450px;
  border-bottom: 1px solid #CCC;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px #DDD;
}

.page--food {
  background-color: #F1F1F1;
  color: #333;
}

.page--fashion {
  background-color: #DDD;
}

.product-section {
  width: 1190px;
  height: 420px;
  margin: 10px auto;
  overflow: hidden;
  border-top: 2px solid #df3627;
}

.product-section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding-top: 70px;
  display: inline-block;
  vertical-align: top;
}

.appItems {
  overflow: hidden;
  text-align: center;
  display: inline-block;
  width: 1000px;
  margin: 0;
  padding: 0;
}

.appItems a {
  display: block;
  color: #333;
}

.appItems li {
  width: 200px;
  height: 210px;
  display: inline-block;
}

.appItem {
  height: 100%;
  width: 100%;
  border-right: 1px solid #eee;
  overflow: hidden;
  padding-top: 25px;
}

.appItem img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.appItem--is-inBasket {
  border: 3px solid #FB4065;
}

.goods-name {
  width: 154px;
  height: 24px;
  margin: 0 auto;
  font-family: 'Microsoft YaHei';
  color: #333;
  line-height: 24px;
  overflow: hidden;
  font: 12px/1.5 arial,tahoma,\5b8b\4f53;
}

.appItem-qty {
  display: none;
  padding: 5px 10px;
  background-color: #FB4065;
  color: #FFF;
  margin-left: 10px;
}

.appItem--is-inBasket .appItem-qty {
  display: inline-block;
}

.appItem-title {
  width: 100%;
  text-transform: uppercase;
  color: #FFF;
  background-color: #333;
  background-color: rgba(33, 33, 33, 0.2);
  letter-spacing: 1px;
  font-family: 'Futura', monospace;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.appItem-price {
  background-color: #FFF;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.addBasket, .removeBasket {
  width: 22px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.itemTransition-enter {
  opacity: 0.01;
  transition: opacity .5s ease-out;
}

.itemTransition-enter.itemTransition-enter-active {
  opacity: 1;
}

.itemTransition-leave {
  opacity: 0.02;
  transition: opacity 0s 0s;
}

.itemTransition-leave.itemTransition-leave-active {
  opacity: 0.01;
  transition: opacity 0s 0s;
}

.appHeader {
  border-bottom: 2px solid #333;
}

.zoomImg {
  width: 600px !important;
  height: 600px !important;
}

.product-info {
  display: inline-block;
  width: 785px;
  height: 482px;
  vertical-align: middle;
  padding: 20px;
  box-sizing: border-box;
}

.product-info h1 {
  font: 700 16px/1.5 \5FAE\8F6F\96C5\9ED1;
  color: #666;
  word-break: break-all;
}

.product-info h2 {
  font: 400 14px/1.5 \5FAE\8F6F\96C5\9ED1;
  color: #F60;
  word-break: break-all;
}

.exist-price {
  position: relative;
  margin-right: -1px;
  padding: 15px 0 10px;
  background: url('/assets/images/products/product-name-bg.png') repeat-x 0 0;
  color: #FFF;
  z-index: 5;
  padding: 30px 60px;
  height: 125px;
  box-sizing: border-box;
}

.exist-price .mainprice {
  font: 700 30px/25px Tahoma;
  text-shadow: 0 1px 0 #F50;
}

.exist-price .star {
  width: 78px;
  height: 14px;
  background: url('/assets/images/products/icons.png') no-repeat -50px -15px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
}

.exist-price .star em {
  width: 0;
  float: left;
  height: 14px;
  background: url('/assets/images/products/icons.png') no-repeat -50px 0;
  -moz-transition: width .5s ease;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}

.score {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 15px;
}

.proinfo-promo {
  padding: 10px 60px;
  background: #f5f5f5;
  font: 400 12px/1.5 Arial,\5b8b\4f53;
  color: #999;
}

.proinfo-promo .value {
  color: #F90;
}

.proinfo-promo .blank {
  margin-left: 39px;
}

.buy-count {
  text-align: center;
  margin-top: 14px;
  clear: both;
  height: 30px;
}

.buy-count .change-quantity {
  width: 100px;
  display: inline-block;
  float: left;
}

.buy-count .action {
  display: inline-block;
  color: #333;
  width: 26px;
  height: 30px;
  line-height: 26px;
  padding: 0;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
}

.buy-count .minus {
  border-right: 1px solid #ccc;
}

.buy-count .plus {
  border-left: 1px solid #ccc;
}

.buy-count .quantity {
  display: inline-block;
  font-size: 14px;
  width: 20px;
  height: 18px;
  padding: 5px;
  border: solid 1px #DDD;
  margin: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.buy-service {
  clear: both;
  text-align: center;
  margin-top: 20px;
  height: 24px;
}

.buy-service-content {
  font: 400 12px/1.5 Arial,\5b8b\4f53;
  color: #333;
  text-align: left;
  float: left;
  margin: 5px 0 0 5px;
}

.small-lable {
  float: left;
  width: 70px;
  padding-left: 50px;
  color: #999;
  overflow: hidden;
  font: 400 12px/1.5 Arial,\5b8b\4f53;
  line-height: 30px;
}

.lable-spaces {
  display: inline-block;
  width: 24px;
}

.proinfo-line {
  height: 2px;
  background: #e9e9e9;
  margin: 10px 20px 10px;
  overflow: hidden;
}

.shop-actions, .proinfo-line {
  clear: both;
}

.shop-actions {
  height: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 128px;
}

.buy-action {
  position: relative;
  float: left;
  margin-right: 10px;
  background-image: url('/assets/images/products/btns-2.png');
  color: #999;
  text-align: center;
  cursor: pointer;
}

.buy-now {
  width: 115px;
  height: 40px;
  background-position: -94px 0;
}

.shop-actions button {
  background-image: url('/assets/images/products/btns-2.png');
  background-position: -219px -45px;
  width: 135px;
  height: 40px;
  border: none;
}

.add-to-cart {
  background-position: -219px -45px;
  width: 135px;
  height: 40px;
}

.more-info {
  width: 1190px;
  margin: 15px auto 0;
}

.left-column {
  width: 190px;
  height: 280px;
  border: solid 1px #EEE;
  display: inline-block;
  vertical-align: top;
}

.right-column {
  display: inline-block;
  vertical-align: top;
  width: 980px;
  margin-left: 15px;
  border: solid 1px #EEE;
  box-sizing: border-box;
}

.left-column .title {
  height: 35px;
  border-bottom: solid 1px #EEE;
  font: 400 14px/34px \5FAE\8F6F\96C5\9ED1;
  color: #333;
  text-align: center;
}

.left-column .satisfactions {
  font: 400 12px/1.5 Arial,\5b8b\4f53;
  color: #999;
  padding: 15px;
}

.left-column .satisfactions .value {
  color: #F90;
}

.left-column .customer-info {
  background: #f5f5f5;
  padding: 15px;
}

.left-column .customer-info table{
  font: 400 12px/1.5 Arial,\5b8b\4f53;
  color: #333;
}

.left-column .bottom-part{
  padding: 15px;
}

.left-column button {
  background-color: rgb(255, 166, 0);
  border: none;
  color: #f5f5f5;
}

.right-column .titles {
  width: 100%;
  padding: 0;
  margin: 0;
}

.right-column .titles li {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  font: 400 14px/34px \5FAE\8F6F\96C5\9ED1;
  color: #666;
  border-right: solid 1px #EEE;
  text-align: center;
  cursor: pointer;
}

.right-column .titles li:last-child {
  border-right: none;
}

.right-bar {
  width: 200px;
  float: right;
  height: 450px;
}

.right-bar img {
  width: 100%;
}

.slider-server-container {
  width: 1190px;
  margin: 0 auto;
}

#facilitate-service {
  font-size: 12px;
  width: 200px;
  z-index: 2001;
}

#facilitate-service ul {
  width: 200px;
  margin: 0;
  padding: 0;
}

#facilitate-service ul li{
  text-align: center;
  width: 98px;
  height: 65px;
  display: inline-block;
}

#facilitate-service ul li a {
  color: #333;
}

#facilitate-service ul li img {
  width: 30px;
}

.section-menu {
  width: 70%;
  margin: 30px auto;
}

.section-menu li {
  width: 88px;
  height: 32px;
  line-height: 28px;
  color: #df3627;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  background: url('/assets/images/products/feature.png') no-repeat -165px 0;
}

.product-sub-page {
  width: 1190px;
  margin: 0 auto;
  min-height: 400px;
}

.good-stuff {
  width: 200px;
  height: 260px;
}

.good-stuff a {
  display: inline-block;
}

.good-stuff-section {
  width: 100px;
  height: 130px;
}

.good-stuff-section img {
  width: 80%;
  height: 80%;
}
