
/*Logo和搜索栏样式*/
.logo{
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.logo img{
    float: left;
    margin-left: 10%;
    width: 450px;
}

.footer{
    margin-top: 20px;
    height: 120px;
    background-color: #33302B;
    color: white;
    border-top: 1px solid #eee;
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
}

.footer div{
    margin-top: 7px;
}

.beian img {
    display: inline-block;
    vertical-align: middle;
}

.beian div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/*顶部工具栏样式*/
.tool-bar{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    height: 45px;
    background-color: #f2f2f2;
}
.bar {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.barLeft li{
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.bar-right span{
    display: inline-block;
    margin-left: 10px;
    width: 7px;
    height: 7px;
    background: url('../img/down-icon.png') no-repeat;
}
.barRight li{
    float: right;
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.barRight li a:hover{
    color: #d4281a;
}

/*工具栏下拉菜单设置（我的订单、购物车下拉菜单）*/
div.hidden-barBox{
    width: 100px;
    border: 1px solid #c9c1cb;
    border-top: 0;
    background: white;
    top: 45px;
    display: none;
    position: absolute;
    z-index: 20;
}
.hidden-barBox>ul{
    list-style-type: none;
    color: #643519;
    cursor: pointer;
}
.hidden-barBox li{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.hidden-barBox li:hover{
    background: #d8d8d8;
    color: #fff;
}
/*工具栏下拉菜单位置*/
.hidden-bar-index{
    right: 3%;
}
.hidden-bar-info{
    right: 8%;
}

/*搜索栏样式*/
.search-wrap{
    float: right;
    margin-top: 40px;
}
.search-btn{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #ffaa00;
    color: white;
    cursor: pointer;
    border: 1px solid #ffaa00;
    text-align: center;
    line-height: 30px;
}
.search-text{
    border: 1px solid #ffaa00;
    width: 300px;
    height: 30px;
    outline:none
}

/*滚动栏样式*/
#banner{
    width:100%;
    height: 700px;
}
li{
    list-style: none;
}
li img{
    height: 100%;
    display: block;
    margin: 0 auto;
}
.hiSlider{
    overflow: hidden;
    height: 670px;
    width: 100%;
}
.hiSlider-item{
    float: left;
    width: 100%;
}
.hiSlider-pages{
    position: absolute;
    z-index: 3;
}

.hiSlider-pages{
    bottom: 10px;
    right: 50%;
    text-align: center;
}
.hiSlider-pages a{
    height: 12px;
    width: 12px;
    margin: 0 6px;
    display: inline-block;
    overflow: hidden;
    text-indent: -100px;
    font-size: 0;
    border-radius: 50%;
    background: #ddd;
}
.hiSlider-pages a.active{
    background: #ff0000;
}
.img-item{
    width: 100%;
    height: 670px;
}

/*网站内容展示样式*/
#content{
    width: 1240px;
    margin: 30px auto 0;
}
.viewName {
    width: 100%;
    float: left;
    font-size: 22px;
    font-weight: bolder;
}

.part-wrap{
    margin-top: 30px;
}

.item-wrap{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px solid lightgray;

}

/*单个旅游景点简介板块*/
.village-view {
    width: 32%;
    height: 400px;
    margin-left: 1%;
    border: 1px solid gray;
    margin-top: 20px;
    position: relative;
}
.hot-view{
    width: 32%;
    height: 400px;
    margin-left: 1%;
    border: 1px solid gray;
    margin-top: 20px;
    position: relative;
}
/*单个景点封面*/
.village-view img{
    width: 100%;
    height: 100%;
}
/*单个景点标题*/
.village-view .viewName {
    background-color: #676767;
    color: white;
    height: 10%;
    width: 100%;
    top: 0;
    opacity: 0.8;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: x-large;
    overflow: hidden;
}

.hot-view img{
    width: 100%;
    height: 100%;
}
/*单个景点标题*/
.hot-view .viewName {
    background-color: #676767;
    color: white;
    height: 10%;
    width: 100%;
    top: 0;
    opacity: 0.8;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: x-large;
    overflow: hidden;
}

/*景点二级页面*/
.list-wrap{
    width: 100%;
    border-top: 2px solid lightgray;
}
.list-wrap-item{
    width: 100%;
    height: 440px;
    border-bottom: 2px solid lightgray;
    position: relative;
}
.travel-show-right{
    width: 40%;
    height: 100%;
    margin-left: 5%;
    float: right;
    position: absolute;
    top: 20px;
    right: 12%;
}

.travel-show-right label{
    color: #2292DD;
    font-size: xx-large;
}

.abstract {
    margin-top: 80px;
    height: 150px;
    width: 400px;
    font-size: large;
}

.more{
    height: 30px;
    font-size: X-large;
    background-color: #2292DD;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.more a{
    color: white;
}

/*景点详细介绍*/
.mainText{
    width: 30%;
    margin-left: 35%;
    margin-top: 30px;
    text-align: center;
}
.mainText label{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: xx-large;
    color: #2292DD;
}

.mainText h2{
    color: #2292DD;
    margin-bottom: 10px;
}

.mainText h3{
    color: red;
    margin-bottom: 10px;
}

.mainText p{
    width: 100%;
    font-size: larger;
    margin-bottom: 20px;
}

.mainText li{
    margin-bottom: 10px;
    color: #2292DD;
}

.mainText img{
    width: 100%;
}

.viewImg{
    width: 100%;
    margin-bottom: 20px;
}

/*自驾游*/

ul.nav-travel li {
    float: right;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: #2292DD;
    color: white;
    cursor:pointer;
}

/*酒店展示*/
/*单个酒店封面*/
.hotel-show{
    width: 32%;
    height: 400px;
    margin-left: 1%;
    border: 1px solid gray;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.hotel-show img{
    width: 100%;
    height: 70%;
}
/*单个酒店价格*/
.hotel-show ul{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.hotel-show ul li{
    width: 100%;
    margin-bottom: 20px;
    font-size: x-large;
}

/*首页商品展示第一部分（商家logo）样式*/
.first-part{
    width: 15%;
    border: 1px solid gray;
    position: relative;
}
/*商家列表样式*/
.shangjia{
    top: 20px;
    left: 30px;
    font-size: xx-large;
    color: rgba(142, 133, 143, 0.52);
    position: absolute;
}

.shangjialist{
    width: 160px;
    height: 180px;
    top: 40%;
    left: 15px;
    display: inline;
    background-color: rgba(221, 255, 252, 0.15);
    position: absolute;
}
.shangjiaitem{
    height: 33%;
    width: 48%;
    float: left;
    background-color: rgba(174, 156, 176, 0.23);
    margin: 1px;
}

/*首页商品展示第二部分（促销活动）样式*/
.middle-part{
    width: 30%;
    background-color: rgba(117, 117, 119, 0.33);
    margin: 1px;
}

/*首页商品展示第三部分（商品展示）样式*/
.last-part{
    width:55%;
    background-color: rgba(255, 255, 0, 0.04);
    flex-flow: row wrap;
}
.flex-item{
    width: 33%;
    background-color: rgba(117, 117, 119, 0.33);
    margin: 1px;
}

.flex-item:hover{
    box-shadow: 0 1px 3px rgba(34, 14, 20, 0.58);
}

/*热馆推荐*/
.special{
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.special img{
    width: 50%;
    height: 100%;
}






