* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
body {
	font-family: "微软雅黑";
	font-size: 12px;
	background: white;
	height:1000px;
	width: 100%;
}

a, a:hover {
	color: white;
	text-decoration: none;
}

/*导航栏模块*/
#navOut {
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
	background: #FFFFFF;
}

/*导航栏样式*/
.nav {
	width: 1240px;
	height: 40px;
	margin: 20px auto 0;
	position: relative;
	padding-left: 25%;
}


/*右导航栏*/
.navRight {
	height: 40px;
	float: left;
	overflow: hidden;
}
ul.nav-right{
	width: 100%;
	height: 100%;
	list-style-type: none;
}

ul.nav-right li {
	float: left;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}

/*右导航栏下拉菜单设置*/
div.hidden-box{
	width: 119px;
	border-top: 0;
	background: #D3211F;
	top: 35px;
	display: none;
	position: absolute;
	z-index: 10;
	text-align: center;
}
.hidden-box>ul{
	list-style-type: none;
	cursor: pointer;
}
.hidden-box li{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(93, 93, 93, 0.17);
	color: white;
	font-size: 14px;
}
.hidden-box li:hover{
	background: #C51316;
	color: #fff;
}
/*右导航栏下拉菜单位置*/
.hidden-loc-box01{
	left: 27.5%;
}
.hidden-loc-box02{
	left: 34.5%;
}
.hidden-loc-box03{
	left: 41.5%;
}
.hidden-loc-box04 {
	left: 48.5%;
}
.hidden-loc-box05{
	left: 55.5%;
}
.hidden-loc-box06 {
	left: 62.5%;
}

/*右导航栏-生活服务设置*/
.frRight {
	width: 248px;
	height: 420px;
	position: absolute;
	border-top: 2px solid gray;
	top: 40px;
	right: 0;
	z-index: 4;
}

/*右导航栏生活服务上半部分*/
.frRightTop{
	width: 248px;
	height: 252px;
	background-color: white;
}

/*绿色产品分类入口*/
.frRightTop-item{
	float: left;
	display: inline;
	width: 49%;
	height: 49%;
	border: 1px solid #b6b6b6;
}

.frRightTop-item img{
	width: 100%;
	height: 100%;
}

/*右导航栏生活服务下半部分*/
.frRightBottom{
	width: 248px;
	height: 168px;
	background-color: white;
}

.frRightBottom p{
	text-align: center;
	font-size: larger;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b6b6b6;

}

.frRightBottom-item{
	float: left;
	display: inline;
	width: 80.5px;
	height: 68px;
	border: 1px solid #d5d5d5;
}

.frRightBottom-item img{
	width: 100%;
	height: 100%;
}